<div class="container">
    <div class="card">
        <div  class="card-header">
            <h3 *ngIf="usuario.id">Modificar Usuario</h3>
            <h3 *ngIf="!usuario.id">Crear Usuario</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control" [(ngModel)]="usuario.nombre" name="nombre"/>
                </div>
                <div class="form-group">
                    <label>Apellidos</label>
                    <input type="text" class="form-control" [(ngModel)]="usuario.apellido" name="apellido"/>
                </div>
                <div class="form-group">
                    <label>Tipo Documento</label>
                    <select [(ngModel)]="usuario.tipo_documento"  class="form-control" name="tipo_documento">
                        <option value="Cedula de Ciudadania" >Cedula de Ciudadania</option>
                        <option value="Tarjeta de Identidad" >Tarjeta de Identidad</option>
                        <option value="Pasaporte" >Pasaporte</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Documento Identificacion</label>
                    <input type="number" class="form-control" [(ngModel)]="usuario.documento_identificacion" name="documento_identificacion"/>
                </div>
                <div class="form-group">
                    <label>Estado</label>
                    <select [(ngModel)]="usuario.estado"  class="form-control" name="estado">
                        <option value="activo" >activo</option>
                        <option value="activo" >inactivo</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Sexo</label>
                    <select [(ngModel)]="usuario.sexo"  class="form-control" name="sexo">
                        <option value="Masculino" >Masculino</option>
                        <option value="Femenino" >Femenino</option>
                    </select>
                </div>
                <button (click)="guardar()" class="btn btn-info">Guardar</button>
            </form>
        </div>        
    </div>

</div>
  